@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
}

.Navbar.Link.active {
  color: red; /* Atur warna yang diinginkan untuk tautan yang aktif */
  /* Atau terapkan gaya lainnya untuk menandai tautan yang aktif */
}

.custome-text-style {
  font-size: 15px;
}

.paddingTop {
  padding-top: -100px;
}