@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #18181b;
}

.Navbar.Link.active {
  color: red; /* Atur warna yang diinginkan untuk tautan yang aktif */
  /* Atau terapkan gaya lainnya untuk menandai tautan yang aktif */
}

.custome-text-style {
  font-size: 15px;
}

.bg-yellow {
  background-color: #FFD369;
  color: #09090b;
}

.orange {
  background-color: #FFD369;
  color: #09090b;
  transition: background-color 0.5s, color 0.3s;
}

.orange:hover {
  background-color: #09090b; 
  color: #FFD369; 
  border: none;
}

.red {
  background-color: #ef4444;
  color: #fef2f2;
  transition: background-color 0.5s, color 0.3s;
}

.red:hover {
  background-color: #09090b; 
  color: #ef4444; 
  border: none;
}

.paddingTop {
  padding-top: -100px;
}

.text-extra-huge {
  font-size: 18rem; /* Sesuaikan ukuran font sesuai kebutuhan Anda */
}